<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rick-Morty-App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personajes</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-text-center">
    <ion-list>
      <ion-item *ngFor="let personaje of personajes">
        ID {{personaje.id}}:  {{ personaje.name }}
        <ion-button slot="end" (click)="eliminarPersonaje(personaje)">Eliminar</ion-button>
      </ion-item>
    </ion-list>
  </div>

  <div class="ion-text-center">
    <ion-button class="ion-margin" (click)="obtenerPersonaje()">Obtener Personaje</ion-button>
  </div>
</ion-content>
